{% extends 'store/index.html' %} {% load static %}

{% block title %}
Login
{% endblock %}

{% load crispy_forms_tags %}

{% load crispy_forms_tags %}
{% block content %}
<div class="logForm">
    <h2>Prisijungimas</h2>
    <br>
    <form method="post" class="form-group">
        {% csrf_token %}
        {{form|crispy}}
        <br>
        <p>Dar neturite paskyros?&nbsp;<a href="/register ">Registruotis</a></p>
        <button type="submit" class="btn btn-success">Prisijungti</button>
        
    </form>
</div>
{% endblock %}