body{
	background-color: hsl(0, 0%, 98%);
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.container{
	min-width: 90%;
	max-width: 90%;
	min-height: calc(100vh - 265px);
}

.logForm{
	min-width: 50%;
	max-width: 50%;
	min-height: calc(100vh - 265px);
}

.logForm form label{
	margin-top: 20px;
}

.logForm form button{
	margin-top: 20px;
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	height: 150px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.addBtn{
	text-align: center;
	font-size: small;
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #4f868c!important;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.img-responsive{
	min-width: 300px;
	width: 300px;
	max-width: 300px;
	height: auto;
	margin-top: 3rem;
}

.form-field{
	width: 250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

#navBarSearchForm{
	min-width: 350px !important;
	max-width: 500px;
}

.navigationbtns{
	border-bottom: medium;
	width: 100%;
	background-color: #4f868c!important;
}

.navbar-brand{
	font-size:xx-large;
}

.nav-item{
	font-size: large;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
	min-width: 150px;
	max-width: 250px;
	background: #4f868c!important;
    color: #fff;
    transition: all 0.3s;
	margin-right: 3rem;
}

#sidebar a{
	text-decoration: none;
	color: #fff;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #4f868c !important;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff !important;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #4f868c;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #4f868c;
}

#sidenavtogglebtn{
	height: 30px;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #4f868c;
	text-decoration: none;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

footer{
	min-height: 60px;
}

@media (max-width: 768px) {
    
    #sidebar.active {
        margin-left: 0;
    }

}

.card {
    background-color: #fff;
    border: none
}

.form-color {
    background-color: #fafafa
}

.form-control {
    height: 48px;
    border-radius: 2px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #35b69f;
    outline: 0;
    box-shadow: none;
    text-indent: 10px
}

.comment-text {
    font-size: 13px
}

.user-feed {
    font-size: 14px;
    margin-top: 12px
}