{% extends 'store/index.html' %} {% load static %}

{% block content %}

<p>Pirkti ne tik parduotuvėse, bet ir internetu „Senukų“ klientai pradėjo dar 2009-aisiais metais, kai startavo internetinė parduotuvė Senukai.lt. Nuo to laiko svetainė stipriai pasikeitė ir išaugo, todėl šiandien savo klientams siūlo daugiau kaip 200 tūkst. prekių, patogius atsiskaitymo ir pristatymo būdus, kokybišką klientų aptarnavimą.
 
    Maža to, kai 2016 metais svetainės veiklą perėmė bendrovė „Kesko Senukai Digital“, svetainė tapo tarptautine platforma – sukaupta patirtis buvo pritaikyta kuriant tokias pat internetines parduotuves Latvijoje (www.ksenukai.lv) ir Estijoje (www.k-rauta.ee).
     
    Atsinaujinusi, šiuolaikiška ir patogi internetinė parduotuvė Senukai.lt 2016 metais sulaukė ir interneto bendruomenės pripažinimo. Technologijų ir progreso festivalyje LOGIN ji buvo išrinkta geriausia elektroninės prekybos svetaine.
     
    Internetinę parduotuvę plėtojanti „Kesko Senukai Digital“ priklauso prekybos centrus „Senukai“ Lietuvoje valdančiai bendrovei „Kesko Senukai Lithuania“. „Kesko Senukai Digital“ ir „Kesko Senukai Lithuania“ yra Skandinavijos koncerno „Kesko“ dalis.
     
    „Kesko“ užsiima maisto, statybos ir remonto prekių, automobilių pardavimu ir turi daugiau kaip 1500 parduotuvių Suomijoje, Švedijoje, Norvegijoje, Estijoje, Latvijoje, Lietuvoje, Lenkijoje, Rusijoje ir Baltarusijoje.
    
    
    2018 metais „Kesko Senukai Digital“ įsigijo 100 % internetinės prekybos grupės „1A“, valdančios internetines parduotuves Lietuvoje (www.1a.lt), Latvijoje (www.1a.lv) ir Estijoje (www.1a.ee), akcijų. Šiuo įsigijimu Senukai.lt internetinė parduotuvė padės užtikrinti, kad klientai galės rinktis iš platesnio prekių asortimento.
    Prekės, pažymėtos simboliu „Tik internetu“ yra „1A“ asortimento dalis, todėl jos nėra prieinamos „Kesko Senukai Lithuania“ fizinėse parduotuvėse.
    
    Informuojame, kad dėl integracijos darbų sistemoje gali kilti sutrikimų. Atsiprašome už nepatogumus.
    Iškilus klausimams, maloniai prašome kreiptis į klientų aptarnavimo centrą elektroniniu paštu pagalba@senukai.lt arba telefonu 8 700 11119.</p>

{% endblock %}