{% extends 'store/index.html' %} {% load static %}
{% block content %}
<h3>
    Internetinė parduotuvė
</h3>
<br>
<p>
    Užsakymo būseną galite matyti prisijungę prie savo paskyros ČIA.<br>
    Taip pat, tikrinti užsakymą neprisijungę galite ČIA.
</p>
<br>
<p>

    Senukai.lt klientų aptarnavimo centras<br>
    El. paštas pagalba@senukai.lt<br>
    Telefonas +370 700 11 119<br>
    Darbo laikas  I–VII 7.00–21.00<br>
    Užklausos forma (ikonėlė apatiniame dešiniajame puslapio kampe).<br>
</p>
<br>
<p>
    Įmonės rekvizitai<br>
    UAB „Kesko Senukai Digital“<br>
    Įmonės kodas 304144008<br>
    PVM mokėtojo kodas LT100009854618<br>
    El. paštas info@ksdigital.lt<br>
    Kareivių g. 11B, LT-09109 Vilnius, Lietuva<br>
</p>
<br>
<h3>Mažmeninė prekyba</h3>
<br>
<p>
    Prekybos centrų SENUKAI klientų aptarnavimo centras<br>
    El. paštas info@keskosenukai.lt<br>
    Telefonas +370 700 11 119<br>
    Darbo laikas  I–VII 7.00–21.00<br>
</p>
<br>
<p>
    Įmonės rekvizitai<br>
    UAB „Kesko Senukai Lithuania“<br>
    Įmonės kodas 234376520<br>
    PVM mokėtojo kodas LT343765219<br>
    El. paštas info@keskosenukai.lt<br>
</p>
<br>
{% endblock %}