{% extends 'store/index.html' %} {% load static %}
{% block content %}
         <!-- Page Content -->
         <div class="row">
            {% for product in products%}
            <div class="col-lg-4 col-md-4 col-sm-5 ml-3">
                <a href='/product/{{product.slug}}'><img class="thumbnail" src="images/{{product.image}}"></a>
                <div class="box-element product d-flex flex-column justify-content-center">
                    <a href='/product/{{product.slug}}'><h6><strong>{{product.name}}</strong></h6></a>
                    <h4 style="display: inline-block; "><strong>${{product.price|floatformat:2}}</strong></h4>
                    <button class="btn btn-outline-secondary add-btn bg-warning text-dark addBtn"><i class="bi-basket"></i>&nbsp;Įdėti į krepšelį</button>
                   
    
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}